{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    {% tailwind_css %}
</head>
<body>
    <div class="flex justify-center items-center min-h-screen bg-cover bg-[url('../../images/bg.svg')]">
        <div class="text-center">
            <h2 class="text-5xl font-semibold mb-4">
               <span class="text-white">Git</span> <span class="text-[#264D9A]">Trackr</span>
            </h2>
            <form>
                <!-- Hanya kolom username -->
                <div class="mb-4">
                    <input type="text" class="border rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-600" placeholder="Username" required>
                </div>
                <button type="submit" class="bg-[#264D9A] rounded-full text-white py-2 px-4 hover:bg-[#264D9A] focus:outline-none focus:ring-2 focus:ring-blue-600">Show Stats</button>
            </form>
        </div>
    </div>
</body>
</html>
