body{
    background: black url("images/bg.svg");
    background-size: cover;
    font-family: 'Mada';
}
.header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    position: sticky;
}
img#back_header{
    grid-column: 1;
    padding-top: 10px;
    padding-left: 10px;
}
img#logo_header{
    grid-column: 2;
}
.header-stat{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.month{
    display: flex;
    padding-top: 5px;
    flex-direction: row;
    width: 168px;
    height: 45px;
    background-color: #1F2328;
    border-radius: 10px;
    font-size: 25px;
    justify-content: center;
}
#down_header{
    padding-top: 13px;
    padding-left: 10px;
    height: 13px;
    width: 15px;
}
.history-repo{
    width: 1143px;
    height: 504px;
    background-color: #1F2328;
    color: white;
}